<nav class="navbar navbar-expand-lg bg-dark text-light">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="{% url 'index' %}">Fruteria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'ventas' %}">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'stock' %}">Ingresar Stock</a>
          </li>
          
        </ul>
  
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            <label class="fs-5 text-warning me-3">Hola, {{ user.first_name }} </label>
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="submit">Salir</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="btn btn-outline-success btn-sm ms-2">Registro</a>
        </li>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>